* {
    margin: 0;
  padding: 0;
}

.full-page {
  background-image: url("../images/redkeep.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
}

.first-row, .second-row {
  height: 400px;
}

.col-sm-2 img {
  width: 150px;
};

.col-sm-2{
  border: solid 4px black;
}

.card {
  border: solid 4px black;
  background-color: white;
}

h4 {
  color: white;
}

.player-health p{
color: white;
font-size: 15px;
}
