* {
    margin: 0;
  padding: 0;
}

.full-page {
  background-image: url("../images/redkeep.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
}

.first-row, .second-row {
  height: 400px;
}

.col-sm-2 img {
  width: 150px;
};

.col-sm-2{
  border: solid 4px black;
}

.card1 {
  border: solid 4px black;
}

.card2 {
  border: solid 4px black;
}

.card3 {
  border: solid 4px black;
}

.card4 {
  border: solid 4px black;
}

.card5 {
  border: solid 4px black;
}





/* .card1 {
  border: 1px solid black;
} */

/* .myclass { 
  display: flex;
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
} */




/* .myclass {
  display: flex;
  flex-flow: wrap;
  width: 1.5em;                                                                                                                                                                                                                                                                                                                                          
  height: 12em;
  margin: 10px 10px;                                   
} */



/* #card {
  margin: 10px;
  width: 100px;
	height: 150px;
	padding: 50px;
	margin: 0 ;
} */

/* .front {
  padding: 97px;
  padding-bottom: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 6px rgba(0,0,0, 0.4);
}

.back {
  padding: 90px;
  padding-bottom: 152px;
  border-radius: 5px;
  box-shadow: 0px 1px 6px rgba(0,0,0, 0.4);
  width: 302px;
  height: 181px;
}

#card2 {
  margin: 18px;
  width: 225px;
  height: 261px;
  padding: 50px;
  margin-top: 100px;
  margin-left: 80em;
} */