* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.player-1 > h1 {
  color: white;
  text-align: center;
  padding-right: 70px;
}

.player-2 > h1 {
  color: white;
  text-align: center;
  padding-right: 70px;
}

.col-sm-2 {
  display: flex;
  flex-flow: wrap;
  width: 1.5em;                                                                                                                                                                                                                                                                                                                                          
  height: 12em;
  margin: 10px 10px;                                   
  /* background-image: url("../images/knowsnothing.png");
  background-size: contain; 
  background-repeat: no-repeat; */
}

/* .pic {
  background-image: url("../images/tyrion.png");
  background-size: contain; 
  background-repeat: no-repeat;
} */

img {
  vertical-align: middle;
  width: 150px;
} 

#newName {
  font-size: 30px;
  display: flex;
  justify-content: right;
  margin-left: 455px;
 
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         

.btn {
  width: 95%;
  display: flex;
  align-self: center;
  text-decoration: none;
  margin-right: 20px;

}
.button {
  font-size: 30px;
  padding: 13px;
  margin-bottom: 50px
}

 a {
  text-decoration: none !important;
}