* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/throne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-container {
 width: 100%;
 display:flex;
 justify-content: center; 
 flex-wrap: nowrap;
 padding-top: 300px;
 padding-bottom: 8px;
 color: whitesmoke;
}
.flex-container > img {
  margin: 0 0 89px 0;
}
.flex-button {
  display: flex;
  justify-content: center; 

}
.button {
  font-size: 30px;
  padding: 13px;
  border-radius: 7px;
}

.button:hover {
  color: red;
  background-color: silver;
  box-shadow: 3px 3px 3px grey;
}

.button a {
  text-decoration: none;
  color: black;
}