* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/throne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-container {
 width: 100%;
 display:flex;
 justify-content: center; 
 flex-wrap: nowrap;
 padding-top: 300px;
 padding-bottom: 8px;
 color: whitesmoke;
}
.flex-container > h1 {
  font-size: 75px;
}
.flex-button {
  display: flex;
  justify-content: center; 

}
.button {
  font-size: 30px;
  padding: 13px;
}

.button a {
  text-decoration: none;
}